<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
  </div>
  <div class="headings">
    <h2>On Demand Car Wash</h2>
    <a href="/wash" class="btn">Car</a>
  </div>
</header>
</body>
</html>
